@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Reggae+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.header{
    display: flex;
}

.imagenesacercate{
    background-color: rgb(165, 160, 160);
    border: 6px solid grey;
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: .5%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.Acercate{
    display: flex;
}

.telefonoimg1{
    width: 50px;
    height: 50px;
}

.telefonoimg2{
    width: 50px;
    height: 50px;
}

.correoimg{
    width: 50px;
    height: 50px;
}


.cabeceraacercate{
    margin-top: .5%;
    margin-left: 1;
    margin-right: 3%;
}

.txttel1{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txttel2{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txtcorreo{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

a{
    text-decoration: none;
    color: black;
}




.mascaraespejoniños{
    display: flex;
}

.mascaraimg{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.espejorojo{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 10%;
    margin-right: 1%;
}

.niños{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 1%;
}

.autorquinta{
    display: flex;
}

.autor17{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 11%;
}

.autor18{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30%;
}

.autor19{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 28%;
}

.variosimg{
    display: flex;
}

.mascaraverde{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 11%;
}

.espejobiselado{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 28%;
}

.niñosparque{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 26%;
    margin-bottom: 5%;
}


.cactusydelfines{
    display: flex;
}

.desierto{
    width: 700px;
    height: 400px;
    border-radius: 10%;
    margin-left: 7%;
}

.delfinesconmarco{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 12%;
    margin-right: 1%;
}

.autorsexta{
    display: flex;
}

.autor20{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 27%;
}

.autor21{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 43%;
}

.desiertoydelfines{
    display: flex;
}

.desiertoycactus{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 27%;
}

.delfinesmar{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 44%;
    margin-bottom: 3%;
}





.marcos{
    display: flex;
    margin-top: 3%;
}



.marco1{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.marco2{
    width: 500px;
    height: 400px;
    border-radius: 10%;
    margin-left: 10%;
}

.marco3{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 7%;
    margin-right: 1%;
}



.autor{
    display: flex;
}



.autor1{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 11%;
}

.autor2{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 28%;
}

.autor3{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 28%;
}



.retratos{
    display: flex;
}


.retrato1{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 7%;
}

.retrato2{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 23%;
}

.retrato3{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 22%;
    margin-bottom: 5%;
}


.marcosfinal{
    display: flex;
}



.marco4{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 37%;
}



.autorsegunda{
    display: flex;
}



.autor6{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 46%;
}



.retratosfinales{
    display: flex;
}



.retrato4{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 44%;
    margin-bottom: 5%;
}





.espejos{
    display: flex;
}



.espejo1{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.espejo2{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
}

.espejo3{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 1%;
}



.autortercera{
    display: flex;
}



.autor8{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 9%;
}

.autor9{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 25%;
}

.autor7{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 26%;
}



.espejos{
    display: flex;
}



.espejoimg1{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 11%;
}

.espejoimg2{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 28.5%;
}

.espejoimg3{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 28%;
    margin-bottom: 5%;
}





.espejospng{
    display: flex;
}



.espejo4{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.portallaves{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
}

.espejobaño{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 1%;
}



.autorcuarta{
    display: flex;
}



.autor11{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10%;
}

.autor12{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30%;
}

.autor13{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 31%;
}



.espejosfinales{
    display: flex;
}

.verde{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 11%;
}

.llaves{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 27%;
}

.baño{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 22%;
    margin-bottom: 5%;
}





.atrapalucespng{
    display: flex;
}

.atrapaluz{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.atrapaluzrombo{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 1%;
}

.atrapaluzconbase{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 9%;
    margin-right: 1%;
}


.atrapalucesautor{
    display: flex;
}


.autor4{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10%;
}

.autor5{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 31%;
}

.autor10{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 31%;
}



.atrapalucestxt{
    display: flex;
}


.luz{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 9%;
}

.luzrombo{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30%;
    margin-bottom: 3%;
}

.luzconbase{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 29%;
    margin-bottom: 5%;
}





.fusionconbase{
    display: flex;
}

.atrapaluzverde{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 1%;
}

.atrapaluzrosa{
    width: 350px;
    height: 400px;
    border-radius: 10%;
    margin-left: 12%;
}

.rosaluz{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-right: 1%;
    margin-left: 9%;
}


.autorfusionbase{
    display: flex;
}

.autor16{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10%;
}

.rosa{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 32%;
}

.rosaatrapaluz{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 28%;
}


.basefusiontxt{
    display: flex;
}

.verdeluz{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 9.5%;
    margin-bottom: 5%;
}

.rosafusion{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 31%;
    margin-bottom: 5%;
}

.rosaestrella{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 26.5%;
    margin-bottom: 5%;
}








.precios{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}





.fusioncolores{
    display: flex;
}

.luzrojo{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-left: 13%;
    margin-right: 1%;
}

.fusionbase{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-right: 1%;
    margin-left: 21%;
}

.coloresfusion{
    display: flex;
}

.autor15{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 24%;
}

.autor14{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 42%;
}

.coloresf{
    display: flex;
}

.atrapaluzrojo{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 23.5%;
}

.fusiontxt{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: 5%;
}