@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Reggae+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.header{
    display: flex;
}

.imagenesacercate{
    background-color: rgb(165, 160, 160);
    border: 6px solid grey;
    font-family: 'Reggae One', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: .5%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.Acercate{
    display: flex;
}

.telefonoimg1{
    width: 50px;
    height: 50px;
}

.telefonoimg2{
    width: 50px;
    height: 50px;
}

.correoimg{
    width: 50px;
    height: 50px;
}


.cabeceraacercate{
    margin-top: .5%;
    margin-left: 1;
    margin-right: 3%;
}

.txttel1{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txttel2{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

.txtcorreo{
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 3%;
}

a{
    text-decoration: none;
    color: black;
}






.quintosol{
    display: flex;
}


.imagenlogo{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 1%;
}


a{
    text-decoration: none;
    color: black;
}

.menu{
    background-color:  rgba(9, 195, 27, 0.335);
    border: 6px solid green;
    padding: 2%;
    width: 1500px;
    height: 25px;
    margin-left: 1%;
    margin-right: 1%;
}


li{
    list-style: none;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size: 19px;
    font-weight: bold;
    }

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

.cuadro{
    background-color: rgb(255, 87, 51);
    border: 6px solid rgb(255, 87, 51);
    border-radius: 15%;
    padding: 5%;
}





.imagenprincipal{
    overflow: auto;
}

.imagenmascara{
    background-color: rgb(255, 228, 181);
    border-top: 6px solid pink;
    border-left: 6px solid pink;
    border-right: 6px solid pink;
    height:800px;
    width: 740px;
    padding: 2%;
    box-sizing: border-box;
    margin-right: 10%;
    float: right;
}

.titulovitrales{
    height: 80px;
    width: 740px;
    text-align: center;
    color: rgb(65, 60, 60);
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 10%;
    float: right;
}

.vitrales{
    height: 230px;
    width: 740px;
    text-align: center;
    color:black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight; bold;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 10%;
    float: right;
}

.solicitavitrales{
    height: 60px;
    width: 740px;
    text-align: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:22px;
    font-weight: bold;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    padding: 1%;
    box-sizing: border-box;
    margin-right: 10%;
    margin-bottom: 5%;
    float: right;
}





.formulario{
    display: flex;
    float: left;
}


form{
    flex-direction: column;
    width: 20%;
    font-family: 'Reggae One', cursive;
    font-size: 23px;
    border: 2px solid grey;
    margin-top: 80px;
    margin-left: 20px;
    padding: 1%;
}

input{
    padding: 5%;
    margin: 3%;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

.aviso{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 5%;
}

.leer{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}

.boton{
    margin-top: -15%;
    width: 30px;
    height: 30px;
}

.enviar{
    margin-top: 15%;
    margin-bottom: 10%;
    background-color: rgb(0, 255, 255);
    font-family: 'Reggae One', cursive;
    font-size: 25px;
    padding: 2%;
    border-radius: 10px;
    border: none;
}

label{
    margin-top: 5%;
    margin-left: 4%;
}

.caja{
    border-radius: 10px;
}

.mensaje{
    text-align: center;
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 3%;
}


main{
    display: flex;
}


.imagenvitro{
    background-color: rgb(255, 228, 181);
    border-top: 6px solid pink;
    border-left: 6px solid pink;
    border-right: 6px solid pink;
    height:450px;
    width: 520px;
    padding: 3%;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 2%;
    float: left;
}

.titulovitro{
    height: 80px;
    width: 520px;
    text-align: center;
    color: rgb(65, 60, 60);
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 2%;
    float: left;
}

.vitromosaico{
    height: 170px;
    width: 520px;
    text-align: center;
    color:black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight; bold;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-left:3%;
    margin-right: 2%;
    float: left;
}

.mostrarvitro{
    height: 28px;
    width: 496px;
    text-align: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:22px;
    font-weight: bold;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    padding: 1%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 10%;
    float: left;
}





.imagenfusion{
    background-color: rgb(255, 228, 181);
    border-top: 6px solid pink;
    border-left: 6px solid pink;
    border-right: 6px solid pink;
    height:448px;
    width: 450px;
    padding: 5%;
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 2%;
    float: right;
}

.titulofusion{
    height: 70px;
    width: 450px;
    text-align: center;
    color: rgb(65, 60, 60);
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 5%;
    float: right;
}

.fusion{
    height: 182px;
    width: 450px;
    text-align: center;
    color:black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight; bold;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 5%;
    float: right;
}

.mostrarfusion{
    height: 30px;
    width: 428px;
    text-align: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:22px;
    font-weight: bold;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    padding: 1%;
    margin-right: 5%;
    float: right;
}





.imagentiffany{
    background-color: rgb(255, 228, 181);
    border-top: 6px solid pink;
    border-left: 6px solid pink;
    border-right: 6px solid pink;
    height:450px;
    width: 390px;
    padding: 3%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 2%;
    float: right;
}

.titulotiffany{
    height: 70px;
    width: 390px;
    text-align: center;
    color: rgb(65, 60, 60);
    font-family: 'Reggae One', cursive;
    font-size: 35px;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    float: right;
}

.tiffany{
    height: 180px;
    width: 390px;
    text-align: center;
    color:black;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    font-weight; bold;
    background-color: rgb(255, 228, 181);
    border-right: 6px solid pink;
    border-left: 6px solid pink;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 3%;
    float: right;
}

.mostrartiffany{
    height: 30px;
    width: 370px;
    text-align: center;
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:22px;
    font-weight: bold;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    padding: 1%;
    margin-left: 1%;
    margin-right: 3%;
    float: right;
}





.informacionlogosytexto{
    display: flex;
}

.mapa{
    width: 810px;
    height: 500px;
    border-radius: 10%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.telefonoimg{
    width: 80px;
    height: 80px;
    margin-top: 23%;
    margin-left: 50%;
}

.whatimg{
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: 50%;
}

.correo{
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: 50%;
}

.horario{
    width: 80px;
    height: 80px;
    margin-top: 50%;
    margin-left: 50%;
}



.textotelefono{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:18px;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 60%;
    text-align: center;
}

.textowhat{
    margin-top: 20%;
}

.textocorreo{
    margin-top: 25%;
}

.textohorario{
    margin-top: 15%;
}


.mapaubicacion{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:20px;
    font-weight: bold;
    margin-left: 3%;
    margin-bottom: 1%;
}

.presupuesto{
    color: black;
    width: 280px;
    height: 50px;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    border-radius: 5%;
    margin-bottom: 3%;
    margin-left: 20%;
    padding: 1%;
}

.presupuesto{
    color: black;
    font-family: 'Reggae One', cursive;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    height: 50px;
    background-color: rgb(0, 255, 255);
    border: 6px solid rgb(72, 209, 204);
    border-radius: 5%;
    margin-bottom: 3%;
    margin-left: 20%;
    padding: 1%;
}


